{% extends 'base.html' %}
{% block content %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="cupon_area">
            <div class="check_title">
                <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
            </div>
            <input type="text" placeholder="Enter coupon code">
            <a class="tp_btn" href="#">Apply Coupon</a>
        </div>
        
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Shipping Details</h3>
                    <hr>
                    
    <form action="/payment/">
    {% for ad in address %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.address_line_1}}, {{ad.city}}, {{ad.state}}- {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="address_id" id="custadd{{forloop.counter}}" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Address: {{ forloop.counter }} </label>
        </div>
      {% endfor %}
        <div class="text-end">
          <button type="submit" class="primary-btn">Pay with Razorpay</button>
        </div>
      </form>
      <hr>
      <div class="text-end">
          <a href="{% url 'paytm_payment' %}" class="primary-btn">Pay with Paytm</a>
      </div>
      <hr>
      <form action="/shippingaddress/" class="creat_account">
        <label for="f-option3">Ship to a different address?</label><br>
        <button type="submit" class="btn btn-primary mt-3 px-1 fw-bold">Add Here</button>
      </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li><a href="#">Product <span>Total</span></a></li>
                            {% for p in products %}
                            <li><a href="#">{{p.product.name}} <span class="middle">x {{p.quantity}}</span> <span class="last">Rs. {{p.item_total}}</span></a></li>
                            {% endfor %}    
                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Subtotal <span>Rs. {{cost}}</span></a></li>
                            <li><a href="#">Shipping <span>Flat rate: Rs. 200.00</span></a></li>
                            <li><a href="#">Total <span>Rs. {{total_cost}}</span></a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
{% endblock %}